.goods{
    &__wrapper{
        display: grid;
        grid-template: minmax(500px,1fr) / 1fr 1fr;
        @include media(425px){
            grid-template: 500px 1fr / 1fr;
        }
        // @include media(375px){
        //     grid-template: 500px 1fr / 1fr;
        // }
        
    }
    &__descr{
        padding-left: 20px;
        &-wrapper{
            display: flex;
            flex-direction: column;
            div{
                line-height: 1;
            }
        }
    }
    // media
    &__media{
       
    }
    // title
    &__title{
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        color: $black;
        line-height: 1;
    }
    // type
    &__title-type{
        margin-bottom: 5px;
    }
    &__type{
        span{
            text-transform: lowercase;
        }
    }
    // price
    &__price-compare{
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        .goods__price{
            font-size: 20px;
            font-weight: bold;
            margin-right: 15px;
        }
        .goods__compare{
            text-decoration: line-through;
            font-size: 14px;
            color: $color_link;
        }
    }
    // descr
    &__descr-item{
        margin-bottom: 10px;
    }
    // weight
    &__weight{
        margin-bottom: 5px;
    }
    // tags
    &__tags{
        display: flex;
    }
    &__tag{
        margin-right: 5px;
        text-transform: lowercase;
        color: $color_link;
    }

}

.swiper-cont{
    height: 500px;
    width: 600px;
    @include media(425px){
        width: 400px;
    }
    @include media(375px){
        width: 350px;
    }
    @include media(320px){
        width: 300px;
    }
    .swiper__img{
        width: 100%;
        height: 500px;

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        img+img{
            width: 1024px!important;
            height: 1024px!important;
            @include media(375px){
                width: 680px!important;
                height: 1000px!important;
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev{
        color: $black;
    }
    .swiper-button-next{
        right: 0;
        &::after{
            @include media(425px){
                font-size: 53px;
            }
        }
        @include media(425px){
            right: 10px;
        }
    }
    .swiper-button-prev{
        left: 0;
        &::after{
            @include media(425px){
                font-size: 53px;
            }
        }
        @include media(425px){
            left: 10px;
        }
    }
}

.customSquare{
    border: none!important;
}

.zoomImg{
    @include media(375px){
        width: 800px!important;
        height: 800px!important;
    }
  
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: $black;
    opacity: .9;
    &-active{
        background: $white;
    }
}
